ion-toolbar{
    --background:#f5f5f3;

    ion-button{
        text-transform: initial;
        font-size: 17px;
    }
}

ion-content{
    --background:#f5f5f3;

     #header{
         display: flex;
         flex-direction: column;
       align-items: center;
         
         h1{
             text-align: center;
             font-weight: 700;
             font-size: 26px;
             color:#010100;
             margin-bottom: 15%;
            }
            
            img{
                
                height: 125px;
                width: 125px;
                border-radius: 50%;
                border: 5px solid rgb(175, 205, 240);
                text-align: center;
            }
        }
  form{
      margin-top: 15px;
      padding-left: 30px;
      padding-right: 30px;

      ion-input{
        margin-top: 15px;
        margin-bottom: 5px;
        color: #000;
        box-sizing: border-box;
        background-color: #fff;
      font-size: 20px;
      font-weight: bold;
      --padding-top:20px;
      --padding-bottom:15px;
      --padding-start:5px;
  }
   ion-item{
       ion-label{
        font-weight: 700;
             font-size: 15px;
             color:#010100;
             margin-bottom: 15%;
       }
    //    ion-select{
    //        ion-select-option{}
    //    }
   }
      ion-button{
          margin-top: 35px;
          height: 48px;
          font-size: 18px;
          text-transform: initial;
          border-radius: 50%;
          box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.08);
          --box-shadow:none;
        
      }

    }
     p{
         text-align: center;
         color:#b6b6b6;
         margin-top: 40px;
     }
}