
<ion-header>
  <ion-toolbar>
   
    <!-- <h1>GESTIBANK</h1> -->
  </ion-toolbar>
</ion-header>


<ion-content>
  <h1>

    <strong>Bienvenue à Gestibank</strong>
  </h1>
   
    <p> Votre application bancaire à vos côtés!</p>

<div class="image">
  <img src="assets/images/logo2.png" alt="logo">

</div>



  
  <form >
    
    
    <ion-button expand="block" shape="round" routerLink="/inscription">Inscription</ion-button>
    <ion-button expand="block" shape="round"  routerLink="/connexion" >Connexion</ion-button>
    <ion-button expand="block" shape="round" routerLink="/devise">Devise</ion-button>
  </form>
  </ion-content>

