
ion-content{
    background: rgb(89, 228, 238);
}
.image{
    text-align: center;
    margin-top: 25px;
}
img{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 5px solid rgb(175, 205, 240);
    text-align: center;
    margin-bottom: 25px;}
// #devise{
//     --background:url(../../assets/images/logoblack.gif) no-repeat center 160px / 250px 250px fixed;
//   }

ion-input{
    text-align: center;
    margin-Right: 15px;
    background: black;
    color: blanchedalmond;
    font-size: larger;
  
}
ion-label{
    width: 90px;
    font-size: 25px;

}
ion-button{
   
    margin-top: 45px;
}
/*

ion-card{
    background-color:antiquewhite;
    color: black;
}

ion-card-subtitle{
    color: midnightblue;
}

ion-card-title{
    color: navy;
}



ion-toolbar{
    --background:white;
    color: darkblue;
}

ion-content{
    --background:white;
}

ion-item{
    --background:white;
    color: navy;
}

ion-label{
    --backgroung:white;
}

h3{
    margin-top: 50px;
    color: dodgerblue;
}

ion-list{
    --background:white;
}
*/