
ion-content{
    background: rgb(89, 228, 238);
}
.image{
    text-align: center;
    margin-top: 25px;
}
img{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 5px solid rgb(175, 205, 240);
    text-align: center;
    margin-bottom: 25px;}


ion-input{
    text-align: center;
    margin-Right: 15px;
    background: black;
    color: blanchedalmond;
    font-size: larger;
  
}
ion-label{
    width: 90px;
    font-size: 25px;

}
ion-button{
   
    margin-top: 45px;
}